jsonlines
openai
langchain
langchain-openai
langchain-community
beautifulsoup4
langchain_chroma
chromadb==0.5.3

pymupdf
sentence-transformers
faiss-cpu

# .env 설정
python-dotenv

# streamlit
streamlit==1.43.2

# ✅ 최신 SQLite 사용을 위한 패키지 추가
pysqlite3-binary 
sqlite3==3.41.2
# 오류 Tavily python package not found 발생
tavily-python
