# 기본
jsonlines
openai
langchain==0.1.16
langchain-openai
langchain-community
langchain-chroma         # langchain-chroma는 Chroma 공식 플러그인

# 웹 크롤링 등
beautifulsoup4
requests

# ChromaDB 및 Embedding
chromadb>=0.5.2
duckdb>=0.9.2
sentence-transformers
faiss-cpu

# PDF 처리
pymupdf

# 텍스트 분할기
langchain-text-splitters

# .env 등 환경변수
python-dotenv

# Streamlit
streamlit==1.43.2

# 최신 SQLite 사용
pysqlite3-binary

# Tavily 웹 검색
tavily-python
